@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f4f8;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Fredoka', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #FFD500; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #E3000B; 
}
